{% extends 'base.html' %}
{% block title %}Task List{% endblock title %}

{% block content %}
<div id="content-container" class="container p-none">
  <div id="al-container" class="side-p">
    <div id="al-control">
      {# Task Search Form #}
      <div class="row">
	<div class="col-md-8">
	  <form class="form-inline" role="search" action="{% url 'task_list' %}" method="get">
	    <div class="form-group">
	      <input type="text" class="form-control" value="{{ request.GET.task }}" name="task">
	    </div>
	    <button type="submit" class="btn btn-success">Search</button>
	  </form>
	</div>
	<div class="col-md-4">
	  <span class="pull-right">
	    <a href="{% url 'task_new' %}"
	       class="btn btn-link p-r-none">+ Add New Task</a>
	  </span>
	</div>
      </div>
    </div>

    {# List of Tasks #}
    <div class="panel panel-default">
      <div class="panel-heading">Task List</div>
      <table class="table table-hover">
	<thead>
	  <th><strong>Ticket</strong></th>
	  <th>Product</th>
	  <th>Component</th>
	  <th>Description</th>
	  <th>Status</th>
	  <th>Type</th>
	  <th>Created on</th>
	</thead>
	<tbody>
	  {% for task in tasks %}
	  <tr>
	    <td>#{{ task.ticket }}</td>
	    <td>
	      <a href="{{ task.get_absolute_url }}">
		<h4 class="al-name">{{ task.product }}</h4>
	      </a>
	    </td>
	    <td>{{ task.component }}</td>
	    <td>{{ task.desc}}</td>
	    <td>{{ task.get_status_display }}</td>
	    <td>{{ task.get_type_display }}</td>
	    <td>
	      <span>{{ task.created_on }}</span>
	    </td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
    
    {# Pagination Section #}
    {% if is_paginated %}
    <div id="al-paginate">
      <ul class="strip-list al-pgnt-list">
	{% if page_obj.has_previous %}
	<li class="pull-left">
	  <a href="{% url 'task_list' %}?page={{ page_obj.previous_page_number }}
		   {% if request.GET.task %}&task={{ request.GET.task }}{% endif %}">Prev</a>
	</li>
	{% endif %}
	{% if page_obj.has_next %}
	<li class="pull-right">
	  <a href="{% url 'task_list' %}?page={{ page_obj.next_page_number }}
		   {% if request.GET.task %}&task={{ request.GET.task }}{% endif %}">Next</a>
	</li>
	{% endif %}
      </ul>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
