{% extends 'base.html' %}
{% block title %}Task List{% endblock title %}

{% block content %}
<div id="content-container" class="container p-none">
  <div id="al-container" class="side-p">
    <div id="al-control">
      <h3 class="ad-mh">Task List
	{# Add Task Link #}
      </h3>
      {# Task Search Form #}
      <form action="{% url 'task_list' %}" method="get">
	<input id="al-search" type="text"
	       name="task" value="{{ request.GET.task }}"
	       class="form-control" />
	<input type="submit"
	       value="Search" class="btn btn-success" />
      </form>
    </div>
    {# List of Tasks #}
    <ul id="al-group" class="strip-list">
      {% for task in tasks %}
      <li class="al-item">
	<a href="{{ task.get_absolute_url }}"><h4 class="al-name">{{ task.name }}</h4></a>
	<span class="al-created">created on {{ task.created_on }}</span>
      </li>
      {% endfor %}
    </ul>
    {# Pagination Section #}
    {% if is_paginated %}
    <div id="al-paginate">
      <ul class="strip-list al-pgnt-list">
	{% if page_obj.has_previous %}
	<li class="pull-left">
	  <a href="{% url 'task_list' %}?page={{ page_obj.previous_page_number }}
		   {% if request.GET.task %}&task={{ request.GET.task }}{% endif %}">Prev</a>
	</li>
	{% endif %}
	{% if page_obj.has_next %}
	<li class="pull-right">
	  <a href="{% url 'task_list' %}?page={{ page_obj.next_page_number }}
		   {% if request.GET.task %}&task={{ request.GET.task }}{% endif %}">Next</a>
	</li>
	{% endif %}
      </ul>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
