{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}

{% block content %}
{# Main Section #}
<div class="dunno">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="input-group input-group-lg">
	<span class="input-group-addon" id="sizing-addon1">@</span>
	<input type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon1">
      </div>
      <div class="input-group input-group-lg">
	<span class="input-group-addon" id="sizing-addon1">@</span>
	<input type="text" class="form-control" placeholder="Senha" aria-describedby="sizing-addon1">
      </div>
      <button type="button" class="btn btn-default navbar-btn">Sign in</button>
    </div>
  </div>
</div>
  
{% endblock content %}
